
body{

  background-color: black;
  padding: 0px;
  margin:0px;
}
.App {
  
  color:white;
  text-align: center;
  margin-bottom: 2%;
}


.flex{
  display: flex;
  border-radius: 35px;
  height: 8vh;
  width: 60%;

  border: 1px solid white;
  background-color: white;
  margin-left: 15%;
  flex-direction: row;
  justify-content: flex-start;
}
.form-control{
  border-radius: 35px;
  width: 50%;
  height: 8vh;
  
}
.date{
  height: 8vh;
  border-radius: 35px;
  width: 30%;
  
  
}

.flex .btn{
  margin-top: 0.5vh ;
  height: 7vh;
  border-radius: 35px;
  width: 19%;
  background-color: #cf3c5c;
  
}

@media screen and (max-width:480px){

  .flex{
    margin-left: 5%;
    width: 90%;
  }
}

