
body{

  background-color: black;
  padding: 0px;
  margin:0px;
}
.App {
  
  color:white;
  text-align: center;
  margin-bottom: 2%;
}


.flex{
  display: flex;
  border-radius: 35px;
  height: 10vh;
  width: 70%;

  border: 1px solid white;
  background-color: white;
  margin-left: 15%;
  flex-direction: row;
  justify-content: flex-start;
}
.form-control{
  border-radius: 35px;
  width: 50%;
  height: 10vh;
  
}
.date{
  height: 10vh;
  border-radius: 35px;
  width: 30%;
  
  
}

.flex .btn{
  margin-top: 1.5vh ;
  height: 7vh;
  border-radius: 25px;
  width: 20%;
  background-color: #cf3c5c;
  
}

